<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="admin/base::layout(~{::div})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	
	<div>
	
		<div class="my-card mt-2 ">
  <div class="card-body">
  
  <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
 <span th:text="${session.message.content}"></span>
 <th:block th:text="${@sessionHelper.removeMessageSession()}"></th:block>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1">
    
    	<form th:object="${booking}" enctype="multipart/form-data" method="post" 
    	th:action="@{/admin/process-contact}" class="mt-2">
    	
    	
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter name</label>
    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter email</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  
  
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter start time</label>
    <input type="datetime-local" name="sDate" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter end time</label>
    <input type="datetime-local" name="eDate" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  
  
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Enter license plate number</label>
    <input type="text" name="licNum" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
   
  </div>
  
  
  
  
  
 
  
  <div class="container text-center">
  
  <button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
    
    </div>
  </div>
</div>
		
	</div>	
		
		
		
		</div>
	
</body>
</html>