<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="admin/base::layout(~{::div})"
>
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Parking Spot</th>
            <th scope="col">Address</th>
            <th scope="col">Number of slots</th>
            <th scope="col">Id</th>

            <th scope="col">Action</th>
            <th scope="col">View Parking Slot</th>
            <th scope="col">Book</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="floor : ${floors}">
            <td th:text="${floor.name}"></td>
            <td th:text="${floor.Address}"></td>
            <td th:text="${floor.numberOfSlots}"></td>
            <td th:text="${floor.id}"></td>

            <td>
              <a href="" th:href="@{'/admin/delete/'+${floor.id}}">Delete</a>
            </td>
            <td>View</td>
            <td>
              <a href="" th:href="@{'/admin/book/'+${floor.id}}"> Book</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
