<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Parking Management System</title>

    <!-- <link rel="stylesheet" data-th-href="@{'/css/output.css'}"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="" th:href="@{/css/style1.css}" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/hmac-sha256.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/enc-base64.min.js"></script>
    <style>
      .slot {
        width: 100px;
        height: 50px;
        margin: 5px;
        border: 1px solid #ccc;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }

      .booked {
        background-color: green !important;
        color: white;
      }

      .block {
        display: block;
        width: 30%;
        border: none;
        background-color: white;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light navbar-custom"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Parking Management</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href=""
                th:href="@{/user/userHome}"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" th:text="${username}"></a>
            </li>

            <li class="nav-item">
              <a class="nav-link">About Us </a>
            </li>
            <li class="nav-item">
              <a th:href="@{/user/parkinglist}" class="nav-link">Parking List</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}" href="">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    
    <h3 class="text-center" th:text="${name}"></h3>
    <h3 class="text-center" th:text="${address}"></h3>

   

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              th:object="${booking}"
              method="post"
              action="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
              class="mt-2"
              onsubmit="generateSignature()"
            >
              <input type="hidden" id="slotId" name="sId" />
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Enter name</label
                >
                <input
                  type="text"
                  name="username"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  onchange="updateSuccessUrl(name, value)"
                />
              </div>
              <div class="mb-3">
                <input
                  type="hidden"
                  name="slotname"
                  class="form-control"
                  id="slotname"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Enter email</label
                >
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  onchange="updateSuccessUrl(name, value)"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Enter start time</label
                >
                <input
                  type="datetime-local"
                  name="sDate"
                  id="sDate"
                  class="form-control"
                  
                  aria-describedby="emailHelp"
                  onchange="updateSuccessUrl(name, value)"
                />
              </div>

              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Enter end time</label
                >
                <input
                  type="datetime-local"
                  name="eDate"
                  class="form-control"
                 id="eDate"
                  aria-describedby="emailHelp"
                  onchange="updateSuccessUrl(name, value)"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Enter license plate number</label
                >
                <input
                  type="text"
                  name="licNum"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                  onchange="updateSuccessUrl(name, value)"
                />
              </div>


              <!-- esewa -->

              <table style="display:none">
                <tbody><tr>
                    <td> <strong>Parameter </strong> </td>
                    <td><strong>Value</strong></td>
                </tr>
    
                <tr>
                    <td>Amount:</td>
                    <td> <input type="text" id="amount" name="amount" value=""   class="form" required=""> <br>
                    </td>
                </tr>
    
                <tr>
                    <td>Tax Amount:</td>
                    <td><input type="text" id="tax_amount" name="tax_amount" value=""  class="form" required="">
                    </td>
                </tr>
    
                <tr>
                    <td>Total Amount:</td>
                    <td><input type="text" id="total_amount" name="total_amount" value=""  class="form" required="">
                    </td>
                </tr>
    
                <tr>
                    <td>Transaction UUID:</td>
                    <td><input type="text" id="transaction_uuid" name="transaction_uuid" value="11-200-111sss1" class="form" required=""> </td>
                </tr>
    
                <tr>
                    <td>Product Code:</td>
                    <td><input type="text" id="product_code" name="product_code" value="EPAYTEST" class="form" required=""> </td>
                </tr>
    
                <tr>
                    <td>Product Service Charge:</td>
                    <td><input type="text" id="product_service_charge" name="product_service_charge" value="0" class="form" required=""> </td>
                </tr>
    
                <tr>
                    <td>Product Delivery Charge:</td>
                    <td><input type="text" id="product_delivery_charge" name="product_delivery_charge" value="0" class="form" required=""> </td>
                </tr>
    
                <tr>
                    <td>Success URL:</td>
                    <td><input type="text" id="success_url" name="success_url" value="http://localhost:8081/user/process-contact" class="form" required=""> </td>
                </tr>
    
                <tr>
                    <td>Failure URL:</td>
                    <td><input type="text" id="failure_url" name="failure_url" value="https://developer.esewa.com.np/failure" class="form" required=""> </td>
                </tr>
    
                <tr>
                    <td>signed Field Names:</td>
                    <td><input type="text" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" class="form" required=""> </td>
                </tr>
    
                <tr>
                    <td>Signature:</td>
                    <td><input type="text" id="signature" name="signature" value="4Ov7pCI1zIOdwtV2BRMUNjz1upIlT/COTxfLhWvVurE=" class="form" required=""> </td>
                </tr>
                <tr>
                    <td>Secret Key:</td>
                    <td><input type="text" id="secret" name="secret" value="8gBm/:&amp;EnhH.1/q" class="form" required="">
                    </td>
                </tr>
                
            </tbody></table>


              <!-- esewa -->

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Slots</th>
          <th scope="col">Available Slots</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>

    <script th:inline="javascript">
      /*<![CDATA[*/


      function updateSuccessUrl(name, value) {
        // Get the current URL from the input field
        
        const url_str = document.getElementById("success_url").value;
        console.log(url_str);
        // Create a URL object
        const url = new URL(url_str);

        // Update the specified query parameter
        url.searchParams.set(name, value);

        // Get the slot ID and slot name from the input fields
        const sId = document.getElementById("slotId").value;
        const sName = document.getElementById("slotname").value;

        // Update or set the slot ID and slot name query parameters
        url.searchParams.set("sId", sId);
        url.searchParams.set("slotname", sName);

        // Add a new query parameter 'data'
        url.searchParams.delete("data")
        url.searchParams.append("data", "dummy");

        // Update the input field with the new URL
        document.getElementById("success_url").value = url.toString();
 
       // Print the updated URL to the console
        console.log(url.toString());
}



function checkBookingStatus() {
    fetch('/user/checkBookingStatus')
      .then(response => response.json())
      .then(data => {
        if (data) {
          alert('You have already booked a slot! You cannot book more than one slot.');
          return false;
        } else {
          // Show the modal if the user has not booked a slot
          var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
          myModal.show();
        }
      })
      .catch(error => console.error('Error:', error));
  }




      function createButtons(slotsArray) {
        const tableBody = document.getElementById("table-body");

        slotsArray.forEach(function(slot) {
          var button = document.createElement("button");
          button.textContent = slot.slotName;
          var element = document.createElement("span");






          // Set background color based on status
          if (slot.status === null || slot.status === false || slot.status === 0) {
            button.style.backgroundColor = "green";
            button.classList.add("block");
            button.classList.add("btn");
            button.classList.add("btn-primary");
           
            button.onclick=function(){
              checkBookingStatus(slot);
            };
          } else {
            button.style.backgroundColor = "red";
            button.classList.add("block");
            button.classList.add("btn");
            button.classList.add("btn-primary");
           
          }
          button.addEventListener("click", () => {
            document.getElementById("exampleModalLabel").innerHTML = slot.slotName;
            document.getElementById("slotId").value = slot.sId;
          });

          let tabData = document.createElement("td");
          let SlotCell = document.createElement("td");


          tabData.textContent = "Slot Number";

          SlotCell.appendChild(button);



          var row = document.createElement("tr");

          // Append the cells to the table row in the desired order
          row.appendChild(tabData); // Append the "slot" cell
          row.appendChild(SlotCell); // Append the button cell


          tableBody.appendChild(row);
        });
      }

      // Call the function with the array of objects
      var value = [[${value}]];
      var slots = [[${slots}]];
      var status = [[${status}]];
      console.log(slots);

      createButtons(slots);


      function generateSignature() {
          var currentTime = new Date();
          var formattedTime = currentTime.toISOString().slice(2, 10).replace(/-/g, '') + '-' + currentTime.getHours() +
              currentTime.getMinutes() + currentTime.getSeconds();
          document.getElementById("transaction_uuid").value = formattedTime;
          var total_amount = document.getElementById("total_amount").value;
          var transaction_uuid = document.getElementById("transaction_uuid").value;
          var product_code = document.getElementById("product_code").value;
          var secret = document.getElementById("secret").value;

          var hash = CryptoJS.HmacSHA256(
              `total_amount=${total_amount},transaction_uuid=${transaction_uuid},product_code=${product_code}`,
              `${secret}`);
          var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
          document.getElementById("signature").value = hashInBase64;
      }

      // Event listeners to call generateSignature() when inputs are changed
      document.getElementById("total_amount").addEventListener("input", generateSignature);
      document.getElementById("transaction_uuid").addEventListener("input", generateSignature);
      document.getElementById("product_code").addEventListener("input", generateSignature);
      document.getElementById("secret").addEventListener("input", generateSignature);





      function updatePrice(){

const sDate= document.getElementById("sDate").value;
const eDate= document.getElementById("eDate").value;
const amount=document.getElementById("amount").value;


if(sDate && eDate){

const startTime= new Date(sDate);
const endTime=new Date(eDate);
const diff= endTime - startTime;
const diffHours= diff/(1000 * 60*60);
console.log("Time difference is"+ diffHours);

const totalAmount = Math.max(0,Math.ceil(diffHours) * 100);
console.log("Calculated first amount" +totalAmount);
document.getElementById("amount").value=totalAmount
document.getElementById("tax_amount").value=0
document.getElementById("total_amount").value=totalAmount+ 0

const finalValue= document.getElementById("total_amount").value;
console.log("final amount is"+ finalValue);

}



}

document.getElementById("sDate").addEventListener("change",updatePrice);
document.getElementById("eDate").addEventListener("change",updatePrice);

      /*]]>*/
    </script>
  </body>
</html>
