<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>
<body>

    

<nav class="bg-white border-gray-200 dark:bg-red-600 dark:border-gray-700">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-3">
      <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
          <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Parking Management</span>
      </a>
      <button data-collapse-toggle="navbar-dropdown" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-dropdown" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-red-600 dark:border-gray-700">
          <li>
            <a href="#" th:href="@{/}" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500 dark:bg-blue-600 md:dark:bg-transparent" aria-current="page">Home</a>
          </li>
         
              
          <li>
            <a href="#" th:href="@{/user/userHome}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Login</a>
          </li>
          <li>
            <a href="#" th:href="@{/admin/home}"  class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Admin Login</a>
          </li>
          <li>
            <a href="#" th:href="@{/hawa}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

    
    <div class="min-h-screen py-40" style="background-image: linear-gradient(115deg, #9F7AEA,#FEE2FE)"> 
    
        <div class="container mx-auto">
            <div class="flex w-8/12 bg-white rounded-xl mx-auto shadow-lg overflow-hidden"> 

                <div class="w-1/2 p-12 flex flex-col items-center justify-center bg-no-repeat bg-cover bg-center" style="background-image: url('img/zoru.jpg'); ">Photo
                
                <h1 class="text-white text-3xl mb-3">Welcome</h1>
                <div> 
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, harum. Suscipit minus incidunt sapiente, nobis porro est consequatur, neque impedit recusandae, aperiam harum enim consequuntur voluptatem eos dolores sit. Ex!
                        <a href="#" class="text-purple-500 font-semibold">Learn more</a>

                    </p>
                </div>
                </div>



                <div class="w-1/2 py-16 px-12">
                
               
  
  
  <div th:if="${session.message}" class="bg-red-100 border border-red-400 mb-3 text-red-700 px-4 py-3 rounded relative" role="alert" >
 <span th:text="${session.message.content}"></span>
 
<th:block th:text="${@sessionHelper.removeSession()}"></th:block>


</div>

                    <h2 class="text-3xl mb-4">Register</h2>
                        <p class="mb-4">Create your free account </p>
                        <form action="#" method="post" th:object="${user}" th:action="@{/doprocess}">
                               
                                
                             <input  class="border border-gray-400 py-1 px-2 w-full mt-5"
                   th:value="${user.username}" 
                   name="username" 
                   type="text" 
                   placeholder="Enter your username">
                   
            <div th:if="${#fields.hasErrors('username')}" class="text-red-500 text-xs mt-1">
                <p th:each="error : ${#fields.errors('username')}" class="text-red-600 text-sm" th:text="${error}"></p>
            </div>
                           
									
									 <input class="border border-gray-400 py-1 px-2 w-full mt-5" type="text" name="email" th:value="${user.email}" placeholder="Email" >
									
									 <div th:if="${#fields.hasErrors('email')}">
									 <p th:each="error : ${#fields.errors('email')}"  class="text-red-600 text sm" th:text="${error}"></p>
									 </div>
                                
                                <div><input name="phoneNumber" th:value="${user.phoneNumber}" type="number" placeholder="Phone Number" class="border border-gray-400 py-1 px-2 w-full mt-5"> </div>

                                <div><input name="password" th:value="${user.password}" type="password" placeholder="Password" class="border border-gray-400 py-1 px-2 w-full mt-5"> 
                                
                                		 <div th:if="${#fields.hasErrors('password')}">
									 <p th:each="error : ${#fields.errors('password')}"  class="text-red-600 text sm" th:text="${error}"></p>
									 </div>
                                		
                                </div>

                               <div class="mt-4"> Select gender <br>
                                 <input th:checked="${user.gender == 'Male'}" type="radio" name="gender" value="Male">
                               
                                <label for="">Male</label>
                                <input th:checked="${user.gender == 'Female'}" type="radio" name="gender" value="Female">
                                <label for="">Female</label>
                                
                                </div>
                                

                                <div class="mt-5"> 
                                    <span>
                                      <input name="agreeds" type="checkbox">
                                        I accept the <a href="#" class="text-purple-500 font-semibold">Terms and Use and privacy policy </a>
                                    </span>

                                </div>

                                <div class="mt-5">
                                    <button class="w-full bg-purple-500 text-center text-white py-3">Submit</button>
                                </div>


                        </form>


                </div>
            </div>



        </div>
    
    
    
    </div>

    
    
    

    


</body>
</html>